body {
	margin: 10px auto;
	padding: 0 5px 20px 5px;
	max-width: 1024px;
	background-color: #555555;
	color: #FFFFFF;
}

img.logo {
	float: left;
	margin-right: 20px;
}

h1 {
	float:left;
}

.folderLink {
	font-weight: bold;
}

.folder {
	display: none;
}

li {
	list-style: none;
}

li a {
    color: #FFFFFF;
    text-decoration: none;
}

li a div {
	background: url('li_bg.png') repeat-x 0 0;
	padding: 10px 0 10px 5px;
}

li a div span {
	background: url('file_ico.png') no-repeat 0 0;
	padding-left: 20px;
}

li a.folderLink div span {
	background: url('folder_ico.png') no-repeat 0 0;
}

ul {
	padding-left: 0;
}

li ul li div {
	padding-left: 15px;
}

li ul li ul li div {
	padding-left: 25px;
}

li ul li ul li ul li div {
	padding-left: 35px;
}

li ul li ul li ul li ul li div {
	padding-left: 45px;
}

li ul li ul li ul li ul li ul li div {
	padding-left: 55px;
}